<footer class="footer">
  <small>
    Social Net Site by <a href="http://balakiriev.com/">Aleksandr Balakiriev</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://blog.balakiriev.com/">News</a></li>
    </ul>
  </nav>
</footer>